<header class="header">
  <div class="header-block header-block-collapse hidden-lg-up">
    <button class="collapse-btn" id="sidebar-collapse-btn">
      <i class="fa fa-bars"></i>
    </button>
  </div>


  <div class="header-block header-block-nav">
    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="#"  aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i> (<b><%= @admin_notifications.try(:count) %></b>)</a>
        <!--        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i> (<b>0</b>)</a>-->
        <ul class="dropdown-menu">
          <div class="drop-content">
            <li>
              <div class="row">

              </div>
            </li>
          </div>
        </ul>
      </li>

      <li class="notifications new">
        <% if current_user %>
          <%= link_to destroy_user_session_path, :method => :delete,:data => { :confirm => 'Logout?'} do  %>
            <i class='fa fa-sign-out'></i><sup></sup>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</header>
