<!-- The sidebar -->
<div class="sidebar">
  <a class="active" href=<%=  papers_path %>>Papers</a>
  <a href=<%=  papers_path %>>News</a>
  <a href=<%=  papers_path %>>Contact</a>
  <a href=<%=  papers_path %>>About</a>
</div>

<!-- Page content -->
<div class="content">
  ..
</div>